body {
  font-family: "Yeon Sung", cursive;
}

.navbar {
  font-family: 'Yeon Sung', cursive;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Yeon Sung', cursive;
}
